{% extends "global/base.html" %}

    {% block corpo %}

  <section id="testes">
    <h2> <i class="bi bi-exclamation-triangle"></i> Testes de Resistencia <i class="bi bi-exclamation-triangle"></i>
    </h2>
    <figure>
      <figcaption>Teste de quedas em diferentes alturas</figcaption>
      <iframe width="812" height="415" src="https://www.youtube.com/embed/kDniaf1w_Ls?si=hO5Smwjmi6OSDmf7"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </figure>
    <figure>
      <figcaption>Teste de resistencia a água</figcaption>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Pg3lEKNObFY?si=USOwB0Muc08oKcpA"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </figure>
    <figure>
      <figcaption>Teste de resistencia a grandes impactos</figcaption>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/I2OjmWpN_Xg?si=GBKSBY7b-zyrhn82"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </figure>
    <figure>
      <figcaption>Teste de batidas repetitivas</figcaption>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/PrYQmRRmCOM?si=oME_MzkwwMIRFeHU&amp;start=46"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </figure>
    <figure>
      <figcaption>Teste de resistencias diversas</figcaption>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xGDHJoNoZH4?si=esHJIDPwp52YAdLE"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </section>
 {% endblock %}
