 <header>
    <h1 class="titulor">ETERNAL <i class="bi bi-lightning-charge-fill"></i> SHOCK</h1>

    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Início <i class="bi bi-lightning-charge-fill"></i></a></li>
        <li><a href="{% url 'historia' %}">Onde tudo começou <i class="bi bi-lightning-charge-fill"></i></a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Modelos <i class="bi bi-lightning-charge-fill"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'primeiros_modelos' %}"><i class="bi bi-lightning-charge-fill"></i> Primeiros modelos</a></li>
            <li><a class="dropdown-item" href="{% url 'colaboracoes' %}"><i class="bi bi-lightning-charge-fill"></i> Collabs</a></li>
          </ul>
        </li>

        <li><a href="{% url 'testes' %}">Testes de Resistência <i class="bi bi-lightning-charge-fill"></i></a></li>
        <li><a href="{% url 'cadastro:gravar' %}">Cadastro <i class="bi bi-lightning-charge-fill"></i></a></li>
        <li><a href="{% url 'loja' %}">loja <i class="bi bi-lightning-charge-fill"></i></a></li>
      </ul>
    </nav>
  </header>
