<!DOCTYPE html> 

<html lang="pt-BR"> 

<head> 

    <meta charset="UTF-8"> 

    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> 
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Iceberg&display=swap" rel="stylesheet">


    <title>Eternal G'</title> 

</head> 

<body> 

    <header> 

        <h1 class="titulor">ETERNAL <i class="bi bi-stopwatch-fill"></i> SHOCK</i></h1> 

        <nav>  

           <ul> 

               <li> <a href="#"> Início    <i class="bi bi-flower2"></i></a> </li> 

              

              <li><a href="historia.html">Onde tudo começou <i class="bi bi-flower2"></i></a> </li> 

                <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Modelos <i class="bi bi-flower2"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="primodelos.html">Primeiros modelos</a></li>
                <li><a class="dropdown-item" href="collabs.html">collabs</a></li>
       </ul> 
                <li><a href="testes.html">Testes de Resistencia <i class="bi bi-flower2"></i></a></li>
            </nav> 

    </header> 

    <main> 

        <hr> 

        <section id="inicio"> 

            <h2>A resistencia somada ao custo-beneficio</h2> 

            <h3>A criação do G-Shock nasceu de um sonho quase poético: o de desafiar o tempo e a fragilidade. Num mundo em que os relógios eram delicados, o G-Shock surgiu como uma revolução — uma fusão entre tecnologia, resistência e alma. Era o nascimento de algo que não apenas marcaria as horas, mas também enfrentaria o tempo com coragem.</h3> 
            <hr>
            <a href="fotos/imagem-storygshock.avif"></a>  

            <article class="galeria"> 
                <a href="fotos/hero-pc-m (1).avif" target="_blank"><img src="fotos/hero-pc-m (1).avif" alt="imagem de fundo preto, com o modelo g-shock DW 5600 em destaque, causando um tipo de destruição"></a> 
            <a href="fotos/af-pop-up-g-shock-3.avif" target="_blank"><img src="fotos/af-pop-up-g-shock-3.avif" alt="Um relógio Casio G-Shock preto com mostrador digital. Ele exibe a hora 10:58 50, a data SU 6-30 e tem várias inscrições como PROTECTION, ILLUMINATOR, WATER RESIST 20BAR e ALARM CHRONOGRAPH. O design é robusto e funcional, com botões nas laterais e um mostrador que lembra um padrão de tijolos escuros."></a> 

            <a href="fotos/hero-pc-m.avif" target="_blank"><img src="fotos/hero-pc-m.avif" alt="Modelo DW 5600 sendo atropelado pela roda de um veículo, demonstrando sua resistencia"></a> 
            <hr>
            <h3> A G-SHOCK mantém nos dias atuais a mesma essência que a consagrou há mais de quarenta anos: resistência, autenticidade e inovação. A marca segue firme como um símbolo de durabilidade, mas hoje assume também uma postura de estilo e atitude no mercado global. A Casio tem reforçado o caráter urbano e tecnológico da G-SHOCK, aproximando-a de novas gerações e de diferentes estilos de vida. Ao mesmo tempo em que preserva o visual robusto e o conceito de “indestrutível”, a marca aposta em colaborações com artistas e marcas de moda, além de investir em linhas com conectividade e funções esportivas. O movimento da G-SHOCK é claro: permanecer fiel às suas raízes, mas sempre reinterpretando a ideia de resistência para o mundo moderno — seja nas ruas, no esporte ou na cultura.</h3>
            <hr>
            <a href="fotos/af-banner-all-black-br-desk.avif" target="_blank"><img src="fotos/af-banner-all-black-br-desk.avif" alt="diversos modelos de G-SHOCK, todos em sua versão preta"></a>
            <a href="fotos/hero-pc-2.jpg" target="_blank"><img src="fotos/hero-pc-2.jpg" alt="fundo preto com relogio preto"> </a>
        </hr>   

        </article> 

            </section> 

    </main> 

    <footer> 

         <p>&copy; 2000 e sempre, C.R.E.A.M</p> 

    </footer> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> 

</body> 

</html> 

 