
{% extends "global/base.html" %}

    {% block corpo %}

    <main>

      <section id="inicio" class="container-fluid my-5 text-center">
        <h2>A resistência somada ao custo-benefício</h2>
  
        <h3>
          A criação do G-Shock nasceu de um sonho quase poético: o de desafiar o tempo e a fragilidade. Num mundo em que
          os relógios eram delicados, o G-Shock surgiu como uma revolução — uma fusão entre tecnologia, resistência e
          alma. Era o nascimento de algo que não apenas marcaria as horas, mas também enfrentaria o tempo com coragem.
        </h3>
  
        <article class="galeria">
          <a href="/static/global/img/hero-pc-m (1).png" target="_blank">
            <img src="/static/global/img/hero-pc-m (1).png"
              alt="Imagem de fundo preto com o modelo G-Shock DW 5600 em destaque, causando um tipo de destruição.">
          </a>
  
          <a href="/static/global/img/af-pop-up-g-shock-3.png" target="_blank">
            <img id="modelo-destaque" src="/static/global/img/af-pop-up-g-shock-3.png"
              alt="Um relógio Casio G-Shock preto com mostrador digital, design robusto e funcional.">
          </a>
  <h3>
          A G-SHOCK mantém nos dias atuais a mesma essência que a consagrou há mais de quarenta anos: resistência,
          autenticidade e inovação. A marca segue firme como um símbolo de durabilidade, mas hoje assume também uma
          postura de estilo e atitude no mercado global. A Casio tem reforçado o caráter urbano e tecnológico da G-SHOCK,
          aproximando-a de novas gerações e estilos de vida. Ao mesmo tempo em que preserva o visual robusto e o conceito
          de “indestrutível”, a marca aposta em colaborações com artistas e marcas de moda, além de investir em linhas com
          conectividade e funções esportivas.
        </h3>
         <article class="galeria">
          <a href="/static/global/img/hero-pc-m.png" target="_blank">
            <img src="/static/global/img/hero-pc-m.png"
              alt="Imagem de fundo preto com o modelo G-Shock DW 5600 em destaque, causando um tipo de destruição.">
          </a>
  
          <a href="/static/global/img/af-banner-all-black-br-desk.png" target="_blank">
            <img src="/static/global/img/af-banner-all-black-br-desk.png"
              alt="Diversos modelos de G-Shock, todos em sua versão preta.">
          </a>
  
          <a href="/static/global/img/hero-pc-2.jpg" target="_blank">
            <img src="/static/global/img/hero-pc-2.jpg" alt="Fundo preto com relógio preto.">
          </a>
        </article>
  
        
      </section>
    </main>
{% endblock corpo %}