
{% extends "global/base.html" %}

    {% block corpo %}

    <main>
      <div class="collab-card">
  <div class="slider">
    <img src="/static/global/img/QpNjcZw4FCnHV3y8EvK8EW-1079-80.png" class="active">
    <img src="/static/global/img/QpNjcZw4FCnHV3y8EvK8EW-1079-80.png">
    <img src="/static/global/img/QpNjcZw4FCnHV3y8EvK8EW-1079-80.png">
    <img src="/static/global/img/QpNjcZw4FCnHV3y8EvK8EW-1079-80.png">
  </div>

  <div class="card-content">
    <h3>G-Shock Collaboration</h3>
    <p>Edição especial em parceria.</p>
  </div>
</div>



  
        <h3>
         Desde sua criação, a G-Shock construiu uma identidade baseada não apenas em resistência e inovação técnica, mas também em ousadia criativa. As colaborações da marca surgem como uma extensão natural dessa filosofia, funcionando como um espaço onde a robustez dos relógios encontra diferentes universos culturais, artísticos e esportivos. Ao longo dos anos, essas parcerias se tornaram extremamente relevantes, ajudando a G-Shock a se manter atual, conectada a novos públicos e presente em cenários que vão muito além da relojoaria tradicional.

Um dos aspectos mais marcantes das colaborações da G-Shock é a ausência de receio em experimentar o inusitado. A marca frequentemente se arrisca ao unir seus modelos icônicos a conceitos, estéticas e referências pouco convencionais, explorando cores, materiais e identidades visuais que fogem do padrão. Essa postura demonstra uma confiança sólida em seu produto: o relógio G-Shock é resistente o suficiente — em todos os sentidos — para servir como base de experimentação criativa sem perder sua essência.

Outro fator que torna essas colaborações tão distintas é a criteriosa, porém diversa, escolha de parceiros. A G-Shock não se limita a marcas de luxo ou ao universo esportivo tradicional, mas dialoga com o streetwear, a música, o skate, a arte urbana e até com franquias culturais e criadores independentes. Essa pluralidade reforça o caráter inclusivo e multifacetado da marca, transformando cada colaboração em uma peça que carrega identidade própria, ao mesmo tempo em que preserva o DNA inconfundível da G-Shock.
        
        
      </section>
    </main>
{% endblock corpo %}