{% extends "global/base.html" %}

{% block formulario %}
<main class="cadastro-main">
  <section class="cadastro-section">
    <form class="cadastro-form" method="post" action="{% url 'cadastro:gravar' %}">
      {% csrf_token %}

      <div class="campo">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required>
      </div>

      <div class="campo">
        <label for="idade">Telefone</label>
        <input type="number" name="idade" id="idade">
      </div>

      <div class="campo">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
      </div>

      <hr class="divisor">

      <div class="botoes">
        <input type="reset" value="Limpar">
        <input type="submit" value="Enviar">
      </div>

    </form>
  </section>
</main>
{% endblock formulario %}
