

<!DOCTYPE html> 

<html lang="pt-BR"> 

<head> 

    <meta charset="UTF-8"> 
 <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> 
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Iceberg&display=swap" rel="stylesheet">


    <title>Modelos | Eternal G</title> 

</head> 

<body class="bod"> 

    <header> 

 

           <h1 class="titulor">ETERNAL <i class="bi bi-stopwatch-fill"></i> SHOCK</i></h1>

        <nav>  

           <ul> 
  <li> <a href="index.html"> Início    <i class="bi bi-flower2"></i></a> </li> 

 <li><a href="historia.html">Onde tudo começou <i class="bi bi-flower2"></i></a> </li> 

   <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Modelos <i class="bi bi-flower2"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Primeiros modelos</a></li>
                <li><a class="dropdown-item" href="collabs.html">collabs</a></li>
              </ul>
                 <li><a href="testes.html">Testes de Resistencia <i class="bi bi-flower2"></i></a></li>

    </header> 

    <main> 

        <section id="Modelos" class="container my-4">
            <hr>
            <h1>❊ Modelos ❊</h1>
            <hr>
        
            <div class="row justify-content-center">
              <article class="col-12 col-md-6 custom-col mb-4">
                <div class="card h-100">
                  <img src="fotos/dw5000.png" class="card-img-top" alt="DW-5000">
                  <div class="card-body">
                    <h5 class="card-title">DW - 5000</h5>
                    <p class="card-text">R$1292,90</p>
                    <a href="#" class="btn btn-primary">avise-me quando chegar</a>
                  </div>
                </div>
              </article>
        
              <article class="col-12 col-md-6 custom-col mb-4">
                <div class="card h-100">
                  <img src="fotos/dw5500.png" class="card-img-top" alt="DW-5600">
                  <div class="card-body">
                    <h5 class="card-title">DW - 5600</h5>
                    <p class="card-text">R$340,00</p>
                    <a href="#" class="btn btn-primary">avise-me quando chegar</a>
                  </div>
                </div>
              </article>
        
              <article class="col-12 col-md-6 custom-col mb-4">
                <div class="card h-100">
                  <img src="fotos/WW5300.png" class="card-img-top" alt="WW-5300">
                  <div class="card-body">
                    <h5 class="card-title">WW - 5300</h5>
                    <p class="card-text">R$590,00</p>
                    <a href="#" class="btn btn-primary">avise-me quando chegar</a>
                  </div>
                </div>
              </article>
        
              <article class="col-12 col-md-6 custom-col mb-4">
                <div class="card h-100">
                  <img src="fotos/image.avif" class="card-img-top" alt="AW-500">
                  <div class="card-body">
                    <h5 class="card-title">AW - 500</h5>
                    <p class="card-text">R$899,90</p>
                    <a href="#" class="btn btn-primary">avise-me quando chegar</a>
                  </div>
                </div>
              </article>
        
              <article class="col-12 col-md-6 custom-col mb-4">
                <div class="card h-100">
                  <img src="fotos/GA-2100-1A1_Seq01.avif" class="card-img-top" alt="GA-2100">
                  <div class="card-body">
                    <h5 class="card-title">GA - 2100</h5>
                    <p class="card-text">R$449,00</p>
                    <a href="#" class="btn btn-primary">avise-me quando chegar</a>
                  </div>
                </div>
              </article>
            </div>
          </section>

   <SECtion id="comparativo"> 

    <h1>Comparativo dos modelos</h1> 

    <table> 

        <thead> 

            <tr> 

                <th>Modelo</th> 

                <th>Resistencia a água</th> 

                <th>Funções</th> 

                <th>Preço médio</th> 

            </tr> 

        </thead> 

        <tbody> 

            <tr> 

                <td>DW - 5000</td> 

                <td>200 metros</td> 

                <td>Alarme, cronometro, luz eletroluminescente e timer</td> 

                <td>R$1292,90</td> 

            </tr> 

            <tr> 

                <td>GA - 2100</td> 

                <td>200 metros</td> 

                <td>Analógico/Digital, Timer, Luz LED</td> 

                <td>R$ 899,90</td> 

            </tr> 

            <tr> 

                <td>DW - 5500</td> 

                <td>200 metros</td> 

                <td>Alarme, cronometro, luz LED, timer regressivo</td> 

                <td>R$ 699,90</td> 

            </tr> 

            <tr> 

                 <td>AW-500</td> 

                <td>100 metros</td> 

                <td>Analógico/Digital, Alarme, Cronômetro</td> 

                <td>R$ 499,90</td> 

            </tr> 

            <tr> 

                <td>WW-5300</td> 

                <td>200 metros</td> 

                <td>Digital, Cronômetro, Luz EL, Timer</td> 

                <td>R$ 999,90</td> 

            </tr> 

        </tbody> 

    </table> 

   </SECtion> 

    </main> 

    <footer> 

         <p>&copy; 2000 e sempre, C.R.E.A.M</p> 

    </footer> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> 

</body> 

</html> 

 